
@using DTO.VuvietanhDTO.KhachHangs
@using DTO.VuvietanhDTO.HoadonsDTO
@using Enum.EnumVVA
@using static WebView.Areas.Admin.ViewModels.ViewHoaDon
@model List<HoaDonView>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Đơn Hàng</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Tìm kiếm</h2>
    <form asp-action="SearchById" method="post"> 
        <label for="orderID">Mã hóa đơn:</label> 
        <input type="number" name="orderID" id="searchId" class="form-control" />
        <br />
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
    <h2>Lọc trạng thái</h2>
    @* HoanThanhDon = 5,      // Đơn hàng đã hoàn thành

    // Trạng thái dành riêng cho bán online
    ChoXacNhan = 1,        // Đơn hàng chờ xác nhận từ người bán
    ChoThanhToan = 2,      // Đơn hàng chờ thanh toán (nếu không phải COD)
    DaXacNhan = 3,     // Đơn hàng đang được vận chuyển (đã thanh toán trước)
    DangVanChuyen = 4,  // Đơn hàng đang được vận chuyển
    HuyDon = 6,            // Đơn hàng bị hủy *@
    <form asp-action="FilterByStatus" method="post">
        <label for="FilterStatus">Trạng thái:</label>
        <select id="FilterStatus" name="FilterStatus" class="form-control">
            <option value="0" selected >Tất cả</option>
            <option value="1">Chờ xác nhận </option>
            <option value="2">Chờ thanh toán </option>
            <option value="3">Đã xác nhận</option>
            <option value="4">Đang vận chuyển </option>
            <option value="5">Hoàn thành đơn</option>
            <option value="6">Hủy đơn</option>
        </select>
        <br />
        <button type="submit" class="btn btn-primary">Lọc</button>
    </form>
    <h1>Thông Tin Đơn Hàng</h1>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger"> @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            } </div>
    }
    <table>
        <tr>
            <th>Thông tin khách hàng</th>
            <th>Thông tin đơn hàng</th>
            <th>Thời Gian</th>
            <th>Địa chỉ Giao Hàng</th>
            <th>Tổng Tiền</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
        @if (Model != null && Model.Any())
        {
            @foreach (var hoaDon in Model)
            {
                <tr>
                    <td>
                        <p>SĐT: @hoaDon.KhachHangs.Sdt</p>@* //Lấy SDT *@
                        <p>Tên Khách Hàng: @hoaDon.KhachHangs.Ten</p> @* //Lấy tên *@
                    </td>
                    <td>
                        <p>Mã đơn hàng: @hoaDon.Id</p>
                        <table border="none">
                            <tr>
                                <th>Sản Phẩm</th>
                                <th>Số Lượng</th>
                            </tr>
                            @if (hoaDon.SanPhams != null && hoaDon.SanPhams.Any())
                            {
                                @foreach (var sp in hoaDon.SanPhams)
                                {
                                    <tr>
                                        <td>@sp.Ten</td>
                                        <td>@sp.SoLuong</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>TenSp</td>
                                    <td>SoLuongSp</td>
                                </tr>
                            }
                        </table>
                    </td>
                    <td>@hoaDon.NgayTao</td>

                    <td>@hoaDon.DiaChiGiaoHang</td>

                    <td>@hoaDon.TongTien</td>
                    @* HoanThanhDon = 5,      // Đơn hàng đã hoàn thành

                    // Trạng thái dành riêng cho bán online
                    ChoXacNhan = 1,        // Đơn hàng chờ xác nhận từ người bán
                    ChoThanhToan = 2,      // Đơn hàng chờ thanh toán (nếu không phải COD)
                    DaXacNhan = 3,     // Đơn hàng đang được vận chuyển (đã thanh toán trước)
                    DangVanChuyen = 4,  // Đơn hàng đang được vận chuyển
                    HuyDon = 6,            // Đơn hàng bị hủy *@
                   @*  <td>@hoaDon.TrangThai</td> *@
                    <td>
                        @Enum.GetName(typeof(ETrangThaiHD), @hoaDon.TrangThai).Replace("ChoXacNhan", "Chờ xác nhận").Replace("ChoThanhToan", "Chờ Thanh Toán ").Replace("DaXacNhan", "Đã Xác Nhận").Replace("DangVanChuyen", "Đang vận chuyển").Replace("HuyDon", "Hủy Đơn").Replace("HoanThanhDon", "Hoàn thành đơn")
                    </td>
                    <td>
                        <a asp-action="OrderDetail" asp-controller="Order" asp-route-Id="@hoaDon.Id" class="btn btn-sm btn-info">Chi Tiết</a>
                        @if (hoaDon.TrangThai != ETrangThaiHD.HoanThanhDon && hoaDon.TrangThai != ETrangThaiHD.HuyDon)
                        {
                            <br />
                            <a asp-action="CancelOrder" asp-controller="Order" asp-route-Id="@hoaDon.Id" class="btn btn-sm btn-danger">Hủy đơn</a>
                        }
                        
                    </td>
                </tr>
            }
        }else
        {
            <p>Không có hóa đơn nào </p>
        }
    </table>
</body>

</html>
