@using WebView.Areas.BanHangOnline.HoangDTO.Resp
@{
    ViewData["Title"] = "Thanh toán";
    var resp = ViewData["SpThanhToan"] as ThanhToanResp;
}
<div class="container mt-5">
    
    <div class="row">

        <!-- Địa chỉ giao hàng -->
        <div class="col-md-8">
            <h5>Địa chỉ giao hàng</h5>
            <div>
                <p>
                    <strong>Họ và tên:</strong> @resp.KhachHangModel.Ten  &nbsp; <strong>SDT:</strong> @resp.KhachHangModel.Sdt
                    <strong>Email:</strong>
                    @resp.KhachHangModel.Email
                </p>
                <div>

                    <!-- Tỉnh / Thành phố -->
                    <div class="mb-3">
                        <label for="province" class="form-label">
                            <i class="fas fa-map-marker-alt"></i> Tỉnh / Thành phố:
                        </label>
                        <select id="province" class="form-select" required>
                            <option value="">Chọn tỉnh / thành phố</option>
                            <!-- Options sẽ được thêm qua JavaScript -->
                        </select>
                        <div class="invalid-feedback">Vui lòng chọn tỉnh / thành phố.</div>
                    </div>

                    <!-- Quận / Huyện -->
                    <div class="mb-3">
                        <label for="district" class="form-label">
                            <i class="fas fa-city"></i> Quận / Huyện:
                        </label>
                        <select id="district" class="form-select" required disabled>
                            <option value="">Chọn quận / huyện</option>
                        </select>
                        <div class="invalid-feedback">Vui lòng chọn quận / huyện.</div>
                    </div>

                    <!-- Phường / Xã -->
                    <div class="mb-3">
                        <label for="ward" class="form-label">
                            <i class="fas fa-house-user"></i> Phường / Xã:
                        </label>
                        <select id="ward" class="form-select" required disabled>
                            <option value="">Chọn phường / xã</option>
                        </select>
                        <div class="invalid-feedback">Vui lòng chọn phường / xã.</div>
                    </div>

                </div>
            </div>
            <hr>
            <!-- Phương thức thanh toán -->
            <h5>Phương thức thanh toán</h5>
            <div>
                <div class="d-flex align-items-center">
                    <input type="radio" class="me-3" name="payment_method" id="vnpay" value="vnpay" checked>
                    <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Logo-VNPAY-QR-1.png" style="height: 30px; margin-right:10px;" alt="">
                    <label for="vnpay">Thẻ ATM qua VNPAY</label>
                </div>
            </div>
            <hr>
            <!-- Phương thức giao hàng -->
            <h5>Phương thức giao hàng</h5>
            <div>
                <div class="d-flex align-items-center">
                    <input type="radio" class="me-3" name="ship_method" id="ptgh" value="giaohangnhanh" checked>
                    <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/05/Logo-GHN-Slogan-En.png" style="height: 30px;" alt="">
                    <label for="ptgh">Giao hàng nhanh GHN</label>
                </div>
            </div>
        </div>

        <!-- Đơn hàng -->
        <div class="col-md-4">
                <h5>Đơn hàng</h5>
                <div>
                    <label for="discount-code">Mã phiếu giảm giá</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="discount-code" placeholder="Mã phiếu giảm giá" disabled>
                        <button class="btn btn-danger d-none" id="delete-discount">Xóa</button>
                    </div>
                    <a href="#" id="my-vouchers" class="text-decoration-underline" data-bs-toggle="modal"
                       data-bs-target="#voucherModal">
                        Phiếu giảm giá của tôi
                    </a>
                </div>
                <hr>
            <form id="shipping-form" method="POST" action="/BanHangOnline/ThanhToan/CreatePaymentUrlVnpay" class="needs-validation">
                <div>
                    <input type="hidden" name="PhiVanChuyen" value=0 id="phivanchuyen-order" hidden />
                    <input type="hidden" name="IdMaGiamGia" value=0 id="idmagiamgia-order" hidden />
                    <input type="hidden" name="DiaChiGiaoHang" value="" id="diachigiaohang-order" hidden />
                    <p><strong>Tạm tính:</strong> <span id="subtotal">0 vn₫</span></p>
                    <p><strong>Phí vận chuyển:</strong> <span id="shipping-fee">0 vn₫</span></p>
                    <p><strong>Mã giảm giá:</strong> <span id="discount-amount">-0 vn₫</span></p>
                    <p><strong>Tổng thanh toán:</strong> <span id="total-amount">0 vn₫</span></p>
                    <button class="btn btn-danger w-100">Đặt hàng</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Giỏ hàng -->
    <div class="row mt-4">
        <h5>Giỏ hàng</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Tên Hàng</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số Lượng</th>
                    <th scope="col">Tổng Tiền</th>
                </tr>
            </thead>
            <tbody>
                @if (resp.GioHang != null && resp.GioHang.Count > 0)
                {
                    foreach (var item in resp.GioHang)
                    {
                        <tr class="mt-2 mb-2">
                            <td>
                                <div class="d-flex justify-content-center">
                                    <img src="@item.SanPham.ListHinHAnh.FirstOrDefault().Url"
                                         style="width: 100px;" alt="hinh anh @item.SanPham?.Ten" class="img-thumbnail me-3">
                                </div>
                            </td>
                            <td>
                                <div class="align-items-center">
                                    <h6>@item.SanPham?.Ten</h6>
                                    @* <p class="mb-1 text-muted">Mã SP: 40000795</p> *@
                                    <p class="mb-1">Kích thước: <span>Size @item.KichThuocResps.FirstOrDefault().Ten</span></p>
                                    <p class="mb-1">Màu sắc: <span>@item.MauSacResps.FirstOrDefault().Ten</span></p>
                                </div>
                            </td>
                            <td>
                                <div class="text-start">
                                    <p class="text-danger fw-bold mb-1">@item.SanPham.GiaBan vn₫</p>
                                    @if (item.SanPham.GiaBanDau > 0)
                                    {
                                        <p class="text-decoration-line-through mb-1">@item.SanPham.GiaBanDau vn₫</p>
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="fw-bold mb-0 text-start amount">
                                        @item.SoLuong
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-column align-items-start">
                                    <p class="fw-bold mb-0 text-start total-price">
                                        @(item.SoLuong * item.SanPham.GiaBan) vn₫
                                    </p>
                                </div>
                            </td>
                        </tr>
                    }
                    
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Phiếu Giảm Giá -->
<div class="modal fade" id="voucherModal" tabindex="-1" aria-labelledby="voucherModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:1200px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Phiếu giảm giá của tôi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="d-flex gap-3 mb-3 ">
                    <input type="text" class="form-control " style="padding:12px" id="search-voucher" value=""
                           placeholder="Nhập mã phiếu giảm giá">
                    <button class="btn btn-danger w-25" id="search-discount">Tìm kiếm</button>
                </div>
                <div class="">
                    <table class="table" id="table-discount">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã code</th>
                                <th scope="col">Loại code</th>
                                <th scope="col">Mệnh giá(vnd)</th>
                                <th scope="col">Phần trăm giảm(%)</th>
                                <th scope="col">Điều kiện giảm(vnd)</th>
                                <th scope="col">Giảm tối đa(vnd)</th>
                                <th scope="col">Thời hạn</th>
                                <th scope="col">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                    </table>
                 </div>
            </div>
        </div>
    </div>
</div>
<script defer>
    const API_KEY = '3ca6ba1b-b145-11ef-8350-bab7316192b7'; // Thay bằng API key của bạn
    const BASE_URL = 'https://online-gateway.ghn.vn/shiip/public-api';
    const shopId = 5497668;

    const provinceSelect = document.getElementById('province');
    const districtSelect = document.getElementById('district');
    const wardSelect = document.getElementById('ward');
    const form = document.getElementById('shipping-form');

    const subtotal = document.getElementById('subtotal');
    const feeResult = document.getElementById('shipping-fee');
    const discountAmount = document.getElementById('discount-amount');
    const totalAmount = document.getElementById('total-amount');

    const diachigiaohangOrder = document.getElementById('diachigiaohang-order');

    function changeVndToNumber(params) {
        let total = Math.round(params.replaceAll('.', '').replaceAll(',', '.').replaceAll('vnd', '').replaceAll('vn₫', '').replaceAll('đ', '').replaceAll('₫', '').replaceAll('-', '').trim());
        return total;
    }

    const formatCurrency = (num) => num.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });

    function totalThanhToan() {
        let tamTinh = changeVndToNumber(subtotal.innerText.trim());
        let phivanchuyen = changeVndToNumber(feeResult.innerText.trim());
        let discountamount = changeVndToNumber(discountAmount.innerText.trim());

        let total = tamTinh + phivanchuyen - discountamount;
        totalAmount.innerText = `${formatCurrency(total)}`;
    }
    function tamTinhTotal() {
        let alltotalPrice = document.querySelectorAll('.total-price');
        let total = 0;
        alltotalPrice.forEach(e => {
            total += changeVndToNumber(e.innerHTML);
        });
        subtotal.innerText = `${formatCurrency(total)}`;
    }

    tamTinhTotal();
    totalThanhToan();
    sessionStorage.removeItem("ListGiamGia");
    function GetMaGiamGia() {
        let keyword = document.getElementById('search-voucher').value;
        keyword = keyword == null ? null : keyword;
        const getSessionGiamGia = JSON.parse(sessionStorage.getItem("ListGiamGia"));
        // Tìm đối tượng giảm giá có `ten` chứa ký tự biến keyword

        if (getSessionGiamGia != null && getSessionGiamGia.some(item => item.ten != null && item.ten.toLowerCase().includes(keyword.toLowerCase()))) {
            console.log(getSessionGiamGia);
            // lấy các mã giảm giá theo tên nhập vào
            const result = getSessionGiamGia.filter(item => item.ten != null && item.ten.toLowerCase().includes(keyword.toLowerCase()));
            
            // lấy đối tượng giảm giá
            const tbody = document.querySelector("#table-discount tbody");
            tbody.innerHTML = "";
            // Lấy thời gian hiện tại
            const currentDate = new Date();

            // Cộng thêm 1 năm
            const futureDate = new Date(currentDate);
            futureDate.setFullYear(currentDate.getFullYear() + 1);

            // Định dạng ngày thành ddmmyyyy
            const day = String(futureDate.getDate()).padStart(2, '0');
            const month = String(futureDate.getMonth() + 1).padStart(2, '0'); // Tháng tính từ 0
            const year = futureDate.getFullYear();
            const formattedFutureDate = `${day}${month}${year}`;
            result.forEach((discount, index) => {
                // Tạo một hàng mới
                const newRow = document.createElement("tr");
                let giatrigiam = discount.loaiGiamGia == "0" ? discount.giaTriGiam : "0";
                let giatritoida = discount.loaiGiamGia == "0" ? discount.giaTriToiDa : "0";
                let menhgia = discount.loaiGiamGia == "0" ? "0" : discount.menhGia ;
                newRow.innerHTML = `
                                <th scope="row">${index + 1}</th>
                                <td>${discount.ten}</td>
                                <td>${discount.loaiGiamGia == 0 ? "Coupon" : "Voucher"}</td>
                                <td>${menhgia} vnd</td>
                                <td>${giatrigiam} %</td>
                                <td>${discount.dieuKienGiamGia} vnd</td>
                                <td>${giatritoida} vnd</td>
                                    <td>${discount.thoiGianKetThuc == null ? formattedFutureDate : discount.thoiGianKetThuc}</td>
                                <td><button class="btn btn-danger m-auto" onclick="ThemPhieuGiamGia(${discount.id})">Thêm</button></td>
                            `;
                // console.log(newRow);
                // Thêm hàng mới vào cuối table
                tbody.appendChild(newRow);
            });
        } else if (getSessionGiamGia == null) {

            // Call API tìm mã giảm giá
            fetch(`https://localhost:7043/banhangonline/thanhtoan/GetDanhSachPhieuGiamGia?tenPhieu=${keyword}`, {
                method: 'GET',
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(resp => {
                    console.log(resp.data);
                    const tbody = document.querySelector("#table-discount tbody");
                    tbody.innerHTML = "";
                    if (resp.data != null && resp.data != "") {

                        resp.data.forEach((discount, index) => {
                            let giatrigiam = discount.loaiGiamGia == "0" ? discount.giaTriGiam : "0";
                            let giatritoida = discount.loaiGiamGia == "0" ? discount.giaTriToiDa : "0";
                            let menhgia = discount.loaiGiamGia == "0" ? "0" : discount.menhGia;
                            // Tạo một hàng mới
                            const newRow = document.createElement("tr");
                            newRow.innerHTML = `
                                    <th scope="row">${index + 1}</th>
                                    <td>${discount.ten}</td>
                                    <td>${discount.loaiGiamGia == 0 ? "Coupon" : "Voucher"}</td>
                                    <td>${menhgia} vnd</td>
                                    <td>${giatrigiam} %</td>
                                    <td>${discount.dieuKienGiamGia} vnd</td>
                                    <td>${giatritoida} vnd</td>
                                    <td>${discount.thoiGianKetThuc == null ? "Sử dụng 1 lần duy nhất" : discount.thoiGianKetThuc}</td>
                                    <td><button class="btn btn-danger m-auto" onclick="ThemPhieuGiamGia(${discount.id})">Thêm</button></td>
                                    `;

                            // Thêm hàng mới vào cuối table
                            tbody.appendChild(newRow);
                            sessionStorage.removeItem("ListGiamGia");
                            sessionStorage.setItem("ListGiamGia", JSON.stringify(resp.data));
                        });
                        // lưu vào trong session
                    } else {
                        const newRow = document.createElement("div");
                        newRow.innerHTML = "Hiện không có phiếu giảm giá nào."
                        tbody.appendChild(newRow);
                    }
                });

        } else {
            const tbody = document.querySelector("#table-discount tbody");
            tbody.innerHTML = "";
            const newRow = document.createElement("div");
            newRow.innerHTML = "Hiện không có phiếu giảm giá nào."
            tbody.appendChild(newRow);
        }
    }
    document.getElementById('search-discount').addEventListener('click', function () {
        GetMaGiamGia();
    });
    document.getElementById('delete-discount').addEventListener('click', function () {
        document.getElementById("discount-code").value = "";
        document.getElementById("idmagiamgia-order").value = 0;
        document.getElementById('delete-discount').style = "display: none !important;";
        discountAmount.innerText = `- 0 vnd`;
        totalThanhToan();
    });

    GetMaGiamGia();

    function ThemPhieuGiamGia(idPhieuGiamGia) {
        alert("Thêm thành công phiếu giảm giá: " + idPhieuGiamGia);
        const getSessionGiamGia = JSON.parse(sessionStorage.getItem("ListGiamGia"));
        const result = getSessionGiamGia.filter(item => item.id == idPhieuGiamGia);
        console.log(result);
        var total = changeVndToNumber(subtotal.innerText.trim());
        var maGiamGia = result[0];
        //  0 - coupon || 1 - voucher
        let discountAmountNumber = 0;
        if (maGiamGia.loaiGiamGia == 0){
            let numberDisc = parseFloat(maGiamGia.giaTriGiam);
            let maxDisc = parseFloat(maGiamGia.giaTriToiDa);
            discountAmountNumber = numberDisc * total / 100;
            if (discountAmountNumber > maxDisc) {
                discountAmountNumber = maxDisc;
            }
        }else{
            discountAmountNumber = maGiamGia.menhGia;
        }
        discountAmountNumber = Math.round(discountAmountNumber);
        discountAmount.innerText = `- ${discountAmountNumber} vnd`;

        document.getElementById("idmagiamgia-order").value = maGiamGia.id;
        document.getElementById('delete-discount').style = "display: block !important;";
        document.getElementById("discount-code").value = maGiamGia.ten;
        totalThanhToan();
    }

    // Hàm lấy danh sách tỉnh
    async function loadProvinces() {
        const response = await fetch(`${BASE_URL}/master-data/province`, {
            headers: { 'Token': API_KEY }
        });
        const data = await response.json();
        data.data.forEach(province => {
            const option = document.createElement('option');
            option.value = province.ProvinceID;
            option.textContent = province.ProvinceName;
            provinceSelect.appendChild(option);
        });
    }

    // Hàm lấy danh sách quận
    async function loadDistricts(provinceId) {
        districtSelect.innerHTML = '<option value="">Chọn quận / huyện</option>';
        districtSelect.disabled = true;
        const response = await fetch(`${BASE_URL}/master-data/district`, {
            headers: { 'Content-Type': 'application/json', 'Token': API_KEY },
            method: 'POST',
            body: JSON.stringify({ province_id: parseInt(provinceId) })
        });
        const data = await response.json();
        data.data.forEach(district => {
            const option = document.createElement('option');
            option.value = district.DistrictID;
            option.textContent = district.DistrictName;
            districtSelect.appendChild(option);
        });
        districtSelect.disabled = false;
    }

    // Hàm lấy danh sách phường
    async function loadWards(districtId) {
        wardSelect.innerHTML = '<option value="">Chọn phường / xã</option>';
        wardSelect.disabled = true;
        const response = await fetch(`${BASE_URL}/master-data/ward`, {
            headers: { 'Content-Type': 'application/json', 'Token': API_KEY },
            method: 'POST',
            body: JSON.stringify({ district_id: parseInt(districtId) })
        });
        const data = await response.json();
        data.data.forEach(ward => {
            const option = document.createElement('option');
            option.value = ward.WardCode;
            option.textContent = ward.WardName;
            wardSelect.appendChild(option);
        });
        wardSelect.disabled = false;
    }

    provinceSelect.addEventListener('change', () => {
        districtSelect.disabled = true;
        wardSelect.disabled = true;
        wardSelect.innerHTML = '<option value="">Chọn phường / xã</option>';
        districtSelect.innerHTML = '<option value="">Chọn quận / huyện</option>';
        feeResult.textContent = '0 vnđ';
        const provinceId = provinceSelect.value;
        // lấy giá trị text trong thẻ option được chọn
        diachigiaohangOrder.value ="Thành phố: " + provinceSelect.options[provinceSelect.selectedIndex].innerHTML+ ", ";
        if (provinceSelect.value) {
            loadDistricts(provinceId)
        }
    });
    // Sự kiện thay đổi quận
    districtSelect.addEventListener('change', () => {
        wardSelect.disabled = true;
        wardSelect.innerHTML = '<option value="">Chọn phường / xã</option>';
        const districtId = districtSelect.value;
        diachigiaohangOrder.value += `Huyện: ${districtSelect.options[districtSelect.selectedIndex].innerHTML}, `;
        if (districtId) loadWards(districtId);
    });

    // Sự kiện submit form
    wardSelect.addEventListener('change', async (e) => {
        e.preventDefault();
        const provinceId = provinceSelect.value;
        const districtId = districtSelect.value;
        const wardCode = wardSelect.value;
        diachigiaohangOrder.value += `Xã: ${wardSelect.options[wardSelect.selectedIndex].innerHTML}.`;
        const requestData = {
            "service_type_id": 5,
            "from_district_id": 3440,
            "from_ward_code": "13010",
            "to_district_id": parseInt(districtId),
            "to_ward_code": `${wardCode}`,
            "weight": 100,
            "insurance_value": 0,
            "coupon": null,
            "items": [
                {
                    "name": "TEST1",
                    "quantity": 1,
                    "height": 100,
                    "weight": 100,
                    "length": 100,
                    "width": 100
                }
            ]
        };

        const response = await fetch(`${BASE_URL}/v2/shipping-order/fee`, {
            headers: {
                'Content-Type': 'application/json',
                'Token': API_KEY,
                'ShopId': shopId
            },
            method: 'POST',
            body: JSON.stringify(requestData)
        });
        const data = await response.json();
        let numberRan = Math.random() * 0.09;
        let totalFee = Math.round(data.data.total * numberRan);
        document.getElementById("phivanchuyen-order").value = totalFee;
        feeResult.textContent = `${formatCurrency(totalFee)}`;

        document.getElementById("phivanchuyen-order").value = totalFee;
            totalThanhToan();
    });

    // Tải danh sách tỉnh khi trang được load
    loadProvinces();
</script>