@using WebView.Areas.BanHangOnline.HoangDTO.Resp
@{
    ViewData["Title"] = "Trang chủ";
    var lstSanPham = ViewData["lstSanPham"] as DictionarySanPhamResp;
    decimal TinhPhanTramGiamGia(decimal giaBanDau, decimal giaBan){

        return (((giaBanDau - giaBan) / giaBanDau) * 100);
    }
}
<style>
    .carousel-item {
        max-height: 594px;
    }

    .carousel-item img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    /* style danh sach san pham */
    .content {
        padding: 0 147px;
    }


    .general-image img {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 10px;
    }

    .product-card {
        text-align: center;
        padding: 10px;
    }

    .product-card img {
            width: 310px;
            max-width: 310px;
            height: auto;
            margin-bottom: 10px;
            border-radius: 5px;
        }


    .slick-prev {
        left: 29px;
    }

    .slick-next {
        right: 29px;
    }

    .slick-prev,
    .slick-next {
        top: 34%;
        z-index: 100 !important;
        color: black;
    }

        .slick-prev::before,
        .slick-next::before {
            color: black;
        }

    .product-item-name {
        display: flex;
        color: #333f48;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.43;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .price {
        width: 100%;
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        display: block;
        margin-bottom: 0;
        margin-left: 0;
        display: flex;
        justify-content: start;
    }

    .old-price {
        text-decoration-line: line-through;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        display: block;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .discount {
        order: 3;
        font-weight: 600;
        color: #da291c;
        font-size: 14px;
        line-height: 22px;
        display: block;
    }

    .ten-danhmuc {
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }

    .link-danhmuc {
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
        margin-left: auto;
        white-space: nowrap;
        cursor: pointer;
    }

    .fa-arrow-right {
        margin-left: 5px;
        color: red;
    }
</style>
@* Slider show *@
<div id="fullScreenCarousel" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://media.canifa.com/Simiconnector/BannerSlider/a/o/aolen_topbanner_desktop-13.11.webp"
                 class="d-block w-100" alt="Image 2">
        </div>
        <div class="carousel-item">
            <img src="https://media.canifa.com/Simiconnector/BannerSlider/c/a/canifas_topbanner_desktop-ud-25.11.webp"
                 class="d-block w-100" alt="Image 3">
        </div>
        <div class="carousel-item">
            <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fhcm.fstorage.vn%2Fgppm2%2Fprod%2Fcms%2F1733029495615609.jpg&w=1920&q=75"
                 class="d-block w-100" alt="Image 1">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#fullScreenCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#fullScreenCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@* danh sach san pham *@
<div class="container-fluid content mt-4">
    @if (lstSanPham != null && lstSanPham.DictionarySanPham.Any())
    {
       foreach (var item in lstSanPham.DictionarySanPham)
        {
            <div class="mt-3 mb-3">
                <div class="d-flex justify-content-between">
                    <span class="ten-danhmuc">@item.Key.TenDanhMuc</span>
                    <span class="link-danhmuc"><a href="/BanHangOnline/TimKiem/GetDanhMuc?id=@item.Key.Id">Xem thêm<i class="fa-solid fa-arrow-right"></i></a></span>
                </div>
                <div class="row">
                    <!-- Phần 1: Hình ảnh tổng quát -->

                    <div class="general-image mb-4 col-4">
                        <img id="imgBig" src="@item.Value.FirstOrDefault().ListHinHAnh?.FirstOrDefault()?.Url"
                             alt="Hình ảnh sản phẩm @item.Value.FirstOrDefault().Ten">
                    </div>

                    <!-- Phần 2: Slider sản phẩm -->
                    <div class="product-slider col-8">
                        @foreach (var sp in item.Value)
                        {
                        
                        <div class="product-card">
                                <a href="/BanHangOnline/ChiTietSanPham/GetSanPhamChiTiet?id=@sp.Id">
                                <img class="imgsub" src="@sp.ListHinHAnh?.FirstOrDefault()?.Url" alt="@sp.Ten">
                            </a>
                            <div class="d-flex flex-column justify-content-start">
                                    <h4><a href="/BanHangOnline/ChiTietSanPham/GetSanPhamChiTiet?id=@sp.Id" class="product-item-name">@sp.Ten</a></h4>
                                <p class="price">@sp.GiaBan đ</p>
                                @if (sp.GiaBanDau != 0)
                                    {
                                        <div class="d-flex justify-content-start">
                                            <p class="old-price">@sp.GiaBanDau đ</p>
                                            <p class="discount">-@(TinhPhanTramGiamGia(sp.GiaBanDau, sp.GiaBan))%</p>
                                        </div>
                                    }
                            </div>
                        </div>

                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        
    <div>
        <div class="d-flex justify-content-between">
            <span class="ten-danhmuc">Áo nỉ</span>
            <span class="link-danhmuc"><span>Xem thêm</span><i class="fa-solid fa-arrow-right"></i></span>
        </div>
        <div class="row">
            <!-- Phần 1: Hình ảnh tổng quát -->

            <div class="general-image mb-4 col-4">
                <img id="imgBig" src="https://media.canifa.com/Simiconnector/1.AoNi_nam_desktop-01.12.webp"
                     alt="Tổng quát">
            </div>

            <!-- Phần 2: Slider sản phẩm -->
            <div class="product-slider col-8">
                <div class="product-card">
                    <a href="#">
                        <img class="imgsub"
                             src="https://canifa.com/img/500/750/resize/8/o/8ot24w026-sa026-thumb.webp"
                             alt="Product 1">
                    </a>
                    <div class="d-flex flex-column justify-content-start">
                        <h4><a href="#" class="product-item-name">Áo ni active nam</a></h4>
                        <p class="price">384.300 đ</p>
                        <div class="d-flex justify-content-start">
                            <p class="old-price">549.000 đ</p>
                            <p class="discount">-30%</p>
                        </div>
                    </div>

                </div>
                <div class="product-card">
                    <a href="#">
                        <img class="imgsub"
                             src="https://canifa.com/img/500/750/resize/8/t/8tw24w009-se384-l-1-u.webp"
                             alt="Product 2">
                    </a>
                    <div class="d-flex flex-column justify-content-start">
                        <h4><a href="#" class="product-item-name">Áo ni active nam</a></h4>
                        <p class="price">384.300 đ</p>
                        <div class="d-flex justify-content-start">
                            <p class="old-price">549.000 đ</p>
                            <p class="discount">-30%</p>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <a href="#">
                        <img class="imgsub"
                             src="https://canifa.com/img/500/750/resize/8/t/8tw24w012-sk010-thumb.webp"
                             alt="Product 3">
                    </a>
                    <div class="d-flex flex-column justify-content-start">
                        <h4><a href="#" class="product-item-name">Áo ni active nam</a></h4>
                        <p class="price">384.300 đ</p>
                        <div class="d-flex justify-content-start">
                            <p class="old-price">549.000 đ</p>
                            <p class="discount">-30%</p>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <a href="">
                        <img class="imgsub"
                             src="https://canifa.com/img/500/750/resize/8/t/8tw24w012-sa432-thumb.webp"
                             alt="Product 4">
                    </a>
                    <div class="d-flex flex-column justify-content-start">
                        <h4><a href="#" class="product-item-name">Áo ni active nam</a></h4>
                        <p class="price">384.300 đ</p>
                        <div class="d-flex justify-content-start">
                            <p class="old-price">549.000 đ</p>
                            <p class="discount">-30%</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    }
</div>
<script  defer>
    $(document).ready(function () {
        $('.product-slider').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 2,
            centerMode: true,
            variableWidth: true
        });
    });
    const sourceImg = document.getElementById('imgBig');

    // Tỷ lệ giữa ảnh đích và ảnh nguồn (ví dụ: 0.5 => 50%)
    const scaleRatio = 0.7;

    // Sử dụng ResizeObserver để theo dõi ảnh nguồn
    const observer = new ResizeObserver(() => {
        let targetImg = document.querySelectorAll('.imgsub');
        // Lấy kích thước hiện tại của ảnh nguồn
        const sourceWidth = sourceImg.offsetWidth;

        // Tính max-width mới cho ảnh đích
        const newMaxWidth = sourceWidth * scaleRatio;

        // Cập nhật max-width cho ảnh đích
        targetImg.forEach(element => {
            element.style.maxWidth = `${newMaxWidth}px`;
        });

    });

    // Theo dõi ảnh nguồn
    observer.observe(sourceImg);
</script>