@model IEnumerable<WebView.NghiaDTO.ChiTietSanPhamDTO>

@{
    ViewData["Title"] = "Danh sách Sản Phẩm";
}

<h1 class="text-center mb-4">Danh sách Sản phẩm</h1>
<h1>@ViewData["Title"]</h1>

<div class="mb-3 text-right">
    <a asp-action="Create" asp-controller="SanPham" class="btn btn-success">
        <i class="fa fa-plus"></i> Thêm Sản phẩm
    </a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover" id="myTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ảnh</th> <!-- Cột ảnh mới -->
                <th scope="col">Id</th>
                <th scope="col">Tên Sản Phẩm</th>
                <th scope="col">Giá</th>
                <th scope="col">Ngày Tạo</th>
                <th scope="col">Màu Sắc</th>
                <th scope="col">Kích Thước</th>
                <th scope="col">Danh Mục</th>
                <th scope="col">Thương Hiệu</th>
                <th scope="col">SL Tồn Kho</th>
                <th scope="col">Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.HinhAnh))
                        {
                            <img src="@Url.Content(item.HinhAnh)" alt="Image" style="width: 100px; height: auto;" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>
                    <td scope="row">@item.Id</td>
                    <td>@item.TenSanPham</td>
                    <td>@item.Gia.ToString("#,##0 VNĐ")</td>
                    <td>@item.NgayTao.ToString("dd/MM/yyyy")</td>
                    <td>@item.TenMauSac</td>
                    <td>@item.TenKichThuoc</td>
                    <td>@item.TenDanhMuc</td>
                    <td>@item.TenThuongHieu</td>
                    <td>@item.SoLuong</td>
                 
                    <td>
                        <a asp-action="Edit" asp-controller="SanPham" asp-route-Id="@item.Id_SanPham" class="btn btn-sm btn-warning">
                            <i class="fa fa-edit"></i> Sửa
                        </a>
                        <a asp-action="Delete" asp-controller="SanPham" asp-route-Id="@item.Id_SanPham" class="btn btn-sm btn-danger confirmDeletion">
                            <i class="fa fa-trash"></i> Xóa
                        </a>
                        <a asp-action="AddQuantity" asp-controller="SanPham" asp-route-Id="@item.Id_SanPham" class="btn btn-sm btn-info">
                            <i class="fa fa-plus-square"></i> Số lượng
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
