@model DAL.Entities.ChiTietSanPham
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .product-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .single-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .productinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        .productinfo img {
            width: 100%;
            height: auto;
            max-height: 200px;
            object-fit: contain;
        }

        .productinfo h2,
        .productinfo p {
            margin: 5px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
</style>

<div class="row">
    <div class="col-sm-3">
        <partial name="_SidebarPartial" />
    </div>

    <div class="col-sm-9 padding-right">

        <div class="product-details">
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="@Model.SanPham.HinhAnh" alt="@Model.SanPham.Ten" width="100px" height="200px" />
                </div>
            </div>

            <div class="col-sm-7">
                <div class="product-information">
                    <h2>@Model.SanPham.Ten</h2>
                    <span>
                        <span>@Model.SanPham.Gia VNĐ</span>
                        <label>Số lượng: </label>
                        <input type="number" id="quantityInput" value="1" min="1" step="1" oninput="validateQuantity(this)" />
                        @if (Model.SoLuong > 0)
                        {
                            <button class="btn btn-default add-to-cart" data-product_id="@Model.SanPham.Id">
                                <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-default">
                                <i class="fa fa-shopping-cart"></i> Hết hàng
                            </button>
                        }
                    </span>
                    <p><b>Tình trạng:</b> @(Model.SoLuong > 0 ? "Còn hàng" : "Hết hàng")</p>
                    <p><b>Màu sắc:</b> @Model.MauSac?.Ten</p> <!-- Hiển thị tên màu sắc -->
                    <p><b>Kích thước:</b> @Model.KichThuoc?.Ten</p> <!-- Hiển thị tên kích thước -->
                </div>
            </div>
        </div>


        <div class="category-tab shop-details-tab">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#details" data-toggle="tab">Chi tiết</a></li>
                    <li><a href="#reviews" data-toggle="tab">Đánh giá</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="details">
                    @Html.Raw(Model.SanPham.MoTa)
                </div>

                <div class="tab-pane fade" id="reviews">
                    <div class="col-sm-12">
                        <p><b>Viết đánh giá của bạn</b></p>

                        <form autocomplete="off" asp-action="CommentProduct" asp-controller="Product" method="POST">
                            <input asp-for="SanPham.Id" name="ProductId" type="hidden" />
                            <input asp-for="SanPham.Ten" type="text" placeholder="Tên của bạn" />
                            <textarea asp-for="SanPham.MoTa" name="Comment"></textarea>
                            <button type="submit" class="btn btn-default pull-right">Gửi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="recommended_items">
            <h2 class="title text-center">Sản phẩm liên quan</h2>
            @if (ViewBag.RelatedProducts != null && ViewBag.RelatedProducts.Count > 0)
            {
                <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @for (int i = 0; i < ViewBag.RelatedProducts.Count; i += 3)
                        {
                            <div class="item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @for (int j = i; j < i + 3 && j < ViewBag.RelatedProducts.Count; j++)
                                    {
                                        var relatedProduct = ViewBag.RelatedProducts[j];
                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <a asp-action="Details" asp-controller="SanPham" asp-route-Id="@relatedProduct.Id">
                                                            <img src="@relatedProduct.HinhAnh" alt="@relatedProduct.Ten" class="img-fluid" style="width:100%; height:200px; object-fit:cover;" />
                                                            @{
                                                                decimal giaSanPham;
                                                                if (decimal.TryParse(relatedProduct.Gia, out giaSanPham))
                                                                {
                                                                    <h2>@giaSanPham.ToString("#,##0") VNĐ</h2>
                                                                }
                                                                else
                                                                {
                                                                    <h2>Giá không hợp lệ</h2>
                                                                }
                                                            }

                                                            <p>@relatedProduct.Ten</p>
                                                            <p>Danh mục: @relatedProduct.DanhMuc.TenDanhMuc</p>
                                                            <p>Thương hiệu: @relatedProduct.ThuongHieu.Ten</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            }
            else
            {
                <p>Không có sản phẩm liên quan.</p>
            }

        </div>
    </div><!--/category-tab-->
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var productId = $(this).data("product_id");
                var soLuong = 1; // Hoặc lấy giá trị từ input số lượng nếu có

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddToCart", "GioHang")",
                    data: { chiTietSanPhamId: productId, soLuong: soLuong },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Thành công!',
                                text: response.message,
                                icon: 'success',
                                confirmButtonText: 'OK'
                            });
                        } else {
                            Swal.fire({
                                title: 'Thất bại!',
                                text: 'Không thể thêm sản phẩm vào giỏ hàng',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: 'Lỗi!',
                            text: 'Có lỗi xảy ra khi thêm sản phẩm vào giỏ hàng',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
        });
    </script>
}
